* {
    box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

nav {
  height: 55px;
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 7px;
}
.globe-image {
  width: 24px;
  height: 24px;
}
.page-title {
  margin: 0;
  font-weight: 500;
  letter-spacing: -0.075em;
}