* {
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Poppins';
}

nav {
  height: 70px;
  width: 100%;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.logo {
  width: 82px;
}

.hero-container {
  padding: 26px 36px;
  display: flex;
  flex-direction: column;
}
.hero-image {
  max-width: 395px;
  /* margin: 0 auto; */
  align-self: center;
}
.hero-title {
  font-size: 36px;
  margin-top: 32px;
  margin-bottom: 0;
}
.hero-text {
  margin-top: 16px;
  max-width: 320px;
}