* {
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Poppins';
}
p {
  color: #222222;
}
.gray{
  color: #918E9B;
}
.emphasised {
  font-weight: 600;
}

nav {
  height: 70px;
  width: 100%;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.logo {
  width: 82px;
}

section {
  padding: 26px 36px 0 36px;
}
section:last-of-type {
  padding-bottom: 50px;;
}

.hero-container {
  display: flex;
  flex-direction: column;
}
.hero-image {
  max-width: 395px;
  /* margin: 0 auto; */
  align-self: center;
}
.hero-title {
  font-size: 36px;
  margin-top: 32px;
  margin-bottom: 0;
}
.hero-text {
  margin-top: 16px;
  max-width: 320px;
}

.cards-container{
  display: flex;
  overflow-x: auto;
  gap: 18px;
}
.card {
  width: 177px;
  height: 302px;
  font-size: 12px;
  position: relative;
  flex: 0 0 auto;
}
.card-image {
  width: 100%;
  border-radius: 9px;
}
.card-stats {
  display: flex;
  align-items: center;
  padding-top: 8px;
}
.card > p {
  margin: 0;
  padding-top: 8px;
}
.card-star {
  width: 14px;
  height: 14px;
}
p.card-state {
  text-transform: uppercase;
  display: block;
  width: 61px;
  height: 20px;
  background-color: white;
  position: absolute;
  padding: 0;
  top: 6px;
  left: 6px;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}